body {
    margin: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #111;
    font-size: 14px;
    line-height: 24px;
}

a {
    text-decoration: none;
}

#page-wrapper {
    padding-top:104px;
    overflow: hidden;
}

.nav-bar {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.nav-top {
    display: flex;
    height: 32px;
    padding-right: 24px;
    padding-left: 24px;
    flex-direction: column;
    align-items: center;
    background-color: #a5c926;
    color: #fff;
    font-size: 11px;
    line-height: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    background-color: transparent;
    justify-content: center;
}

.nav-top-wrapper {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.nav-top-info {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
}

.nav-top-social {
    display: flex;
    padding-right: 12px;
    padding-left: 12px;
    justify-content: flex-end;
}

.nav-top-text {
    margin-right: 16px;
}

.link-white {
    color: #fff;
}

.social-link {
    display: flex;
    width: 28px;
    height: 28px;
    padding: 5px;
    justify-content: center;
}

img {
    max-width: 100%;
    border: 0;
}

.nav-main {
    display: flex;
    height: 72px;
    padding-right: 24px;
    padding-left: 24px;
    flex-direction: column;
    align-items: center;
}

.nav-bar-wrapper {
    display: flex;
    height: 72px;
    flex-direction: row;
}

.brand {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Varela Round', sans-serif;;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.navigation {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    padding-right: 24px;
    padding-left: 24px;
}

.nav-link {
    padding: 12px 18px;
    border-radius: 16px;
    color: #111;
}

#header {
    position: relative;
    background-size: cover;
    background-position: 50% 94%;
    height: 750px;
    background-image: url("../images/banner.jpg");
}

.section {
    display: flex;
    padding: 120px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.haze {
    background-color: #f8f8f8;
}

.home-categories {
    display: flex;
    width: 100%;
    padding-top: 32px;
    justify-content: center;
}

.home-category-card {
    display: flex;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    padding: 48px 40px;
    border-radius: 16px;
    background-color: #ffc12c;
    color: #fff;
    flex: 1;
    animation-name: card-animate;
    animation-duration: 2s;
}

.home-category-image-1 {
    position: absolute;
    left: 15px;
    bottom: 26px;
    width: 220px;
}

.home-category-card .red {
    justify-content: flex-end;
    background-color: #fb416b;
}

.home-category-image-2 {
    position: absolute;
    right: 21px;
    bottom: 17px;
    width: 220px;
}

.home-category-info-1 {
    margin-left: 224px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 16px;
    font-family: 'Varela Round', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}

.button {
   height: 48px; 
   padding: 12px 28px;
   border-radius: 24px;
   justify-content: center;
   font-size: 14px;
   line-height: 24px;
   font-weight: 600;
   text-align: center;
}

.button.small {
    height: 22px;
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 13px;
    line-height: 24px;
}

.button.white {
    background-color: #fff;
    color: #111;
}

.w-button {
    display: inline-block;
}

.home-category-info-2 {
    margin-right: 224px;
    text-align: right;
}

.no-padding-top {
    padding-top: 0px;
}

.shop-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
    padding-right: 15px;
    padding-left: 15px;
}

.no-margin {
    margin: 0px;
}

.shop-header-line {
    width: 100%;
    height: 2px;
    margin-top: 32px;
    background-color: #e5e5e5;
}

.shop-header-color {
    width: 136px;
    height: 100%;
    background-color: #a5c926;
}

.products  {
    display: flex;
}

.product-card {
    display: flex;
    padding: 24px 24px 32px;
    flex-direction: column;
    flex: 1;
    align-items: center;
    border-radius: 16px;
    background-color: #fff;
}

.product-card-wrapper {
    width: 25%;
    display: flex;
    padding:15px;
    flex-direction: column;
    animation-name: card-animate;
    animation-duration: 2s;
}

.product-card-image-wrapper {
    display: flex;
    height: 200px;
    margin-bottom: 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.product-card-heading {
    margin-bottom: 12px;
    color: #111;
}

h6 {
    margin-top: 0px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

#footer {
    background-color: #a5c926;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #fff;
}
.footer-content {
    display: flex;
    padding-top: 48px;
    flex-direction: column;
}

.footer-left {
    display: flex;
    width: 200px;
}

.footer-brand {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
}

.footer-bottom {
    display: flex;
    margin-top: 48px;
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.25);
    font-size: 11px;
    line-height: 16px;
    width: 100%;
}

.footer-bottom-left {
    display: flex;
    width: 50%;
}

.footer-bottom-right {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.footer-nav {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    flex-direction: row;
    width: 770px;
    justify-content: center ;
}

.footer-link {
    margin-right: 10px;
    margin-left: 10px;
    padding: 4px;
    color: #fff;
}

.footer-social {
    display: flex;
    width: 200px;
    padding-right: 12px;
    padding-left: 12px;
    justify-content: flex-end;
}

.footer-social-link {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 6px;
    border-radius: 50%;
}

.button:hover, .product-card:hover, .social-link:hover, .footer-social-link:hover {
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.15);
    transform: scale(1.05) translate(0px, -2px);
}

.nav-link:hover, .footer-link:hover {
    text-decoration: underline;
    transform: scale(1.05) translate(0px, -2px);
}

@keyframes card-animate {
    from { transform: scale(0.5);}
    to {transform: scale(1);}
}